<!DOCTYPE html>
<html>
    <head>
        <title>Employee Monitor - CRUD</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body class="bg-info">
        <div class="row">
            <div class="col-md-6 offset-md-3" style="background-color: #fff; margin-top: 25px; padding: 20px; border-radius: 10px;">
                <!-- Render child view body here -->
                {{{body}}}
            </div>
        </div>
    </body>
</html>
